/* tablets */

/* landscapes */
@media (max-width: 1024px) {
    main .services .container .services-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
    }

    main .projects .project-grid .project .content h3 {
        font-size: 28px;
    }

    main .projects .project-grid .project .content p {
        font-size: 16px;
    }
}

@media (max-width: 796px) {

    main .projects .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* mobile phones */

@media (max-width: 767px) {

    .hide-mob {
        display: none;
    }

    .container {
        margin: 0 5%;
    }

    .button {
        font-size: 16px;
    }

    header .container nav {
        display: none;
    }

    main .banner .container h1 {
        font-size: 32px;
        margin-bottom: 16px;
    }

    main .banner .container h3 {
        font-size: 17px;
        margin-bottom: 16px;
    }





    /* services */
    main .services .container .services-grid {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }





    /* projects */
    main .projects .project-grid {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }


    
    /* contacts */
    main .contact .container form .form-grid {
        grid-template-columns: 1fr;
        grid-gap: 13px;
        margin-bottom: 13px;
    }

}